.container {
  width: 1028px;
}

@media (min-width: 1280px) {
  .container {
    width: 1028px;
  }
}

.exoplanets {
  li {
    list-style-type: none;
  }

  span {
    font-weight: bold;
    background-color: green;
    color: white;
  }

  table {
    th, li {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;

      td {
        text-align: center;
        width: fit-content;
      }
    }
  }

  .size {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
}
